<div class="jumbotron">
    <h1>Laserfiche.PdfImporter</h1>
    <p class="lead">
        Convert pdf files to tiff and import them into the laserfiche repository
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>General Settings for the api</h2>
        Change the following setting in the web.config file
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2"><strong>Key Name</strong></div>
    <div class="col-md-10"><strong>Value</strong></div>
</div>
<hr />
<div class="row">
    <div class="col-md-2"><strong>app.pdfpath</strong></div>
    <div class="col-md-10">Pdf path</div>
</div>
<div class="row">
    <div class="col-md-2"><strong>lf.server</strong></div>
    <div class="col-md-10">Laserfiche server name</div>
</div>
<div class="row">
    <div class="col-md-2"><strong>lf.repository</strong></div>
    <div class="col-md-10">Laserfiche repository</div>
</div>
<div class="row">
    <div class="col-md-2"><strong>lf.user y lf.password</strong></div>
    <div class="col-md-10">Laserfiche credentials for import the tiff files</div>
</div>
<div class="row">
    <div class="col-md-2"><strong>lf.volume</strong></div>
    <div class="col-md-10">Laserfiche volume</div>
</div>
<div class="row">
    <div class="col-md-2"><strong>lf.path</strong></div>
    <div class="col-md-10">Laserfiche path for import the tiff files</div>
</div>



